[2014-11-22 11:03] alexanderdean opened #1 "Add ability to detect ISO-8601 datetimes"
Basically testing every string against the Joda format.

[2014-11-22 11:03] alexanderdean opened #2 "Add ability to distinguish non-ISO-8601 datetimes from strings"
We could output a warning for these, or a custom date-time format.
- http://labix.org/python-dateutil#head-b95ce2094d189a89f80f5ae52a05b4ab7b41af47
- http://stackoverflow.com/questions/15010210/automatic-date-time-parser-without-specifying-format
- http://stackoverflow.com/questions/3307330/using-joda-date-time-api-to-parse-multiple-formats

Lower priority than #1

[2014-11-22 11:05] alexanderdean opened #3 "Add support for JSON Schemas as an Algebird Semigroup"

[2014-11-22 11:05] alexanderdean opened #4 "Remove unused dependencies"

[2014-11-22 11:06] alexanderdean opened #5 "Refactor core loop out of Main"

[2014-11-22 11:06] alexanderdean opened #6 "Write README.md"

[2014-11-22 11:06] alexanderdean opened #7 "Remove hardcoded folder paths"

[2014-11-22 11:07] alexanderdean opened #8 "Add CHANGELOG"

[2014-11-22 11:09] alexanderdean opened #9 "Split project into lib, cli, webui and spark"

[2014-11-22 11:10] alexanderdean opened #10 "Implement Spark job wrapping Schema Guru"
It works like this:

* You feed it a folder of JSONs to process
* You tell it a basic structure for the JSONs - basically, is there an outer envelope that specifies the name of the inner JSON, plus the properties
* It processes all JSONs and writes out a final set of JSON Schemas

[2014-11-22 11:13] alexanderdean opened #11 "Move test JSONs into src/test/resources"

[2014-11-22 11:13] alexanderdean opened #12 "Add at least 1 test using Specs2"

[2014-11-22 11:15] alexanderdean opened #13 "Add Travis support to project"

[2014-11-22 11:15] alexanderdean opened #14 "Make all pattern matches exhaustive"
[code]

[2014-11-22 11:25] alexanderdean opened #15 "Remove unnecessary resolutionRepos"

[2014-11-22 11:27] alexanderdean opened #16 "Make it possible to auto-submit schemas to Iglu"

[2014-11-22 11:27] alexanderdean opened #17 "Add toggle for whether to output JSON Schema or self-desc JSON Schema"

[2014-11-22 11:28] alexanderdean opened #18 "Remove self-describing aspects of JSON Schema for launch"
Let's keep this clean - no Iglu expectations/dependencies

[2014-11-22 11:29] alexanderdean opened #19 "Add configuration options for self-describing JSON Schema"
Specifically:

* Vendor
* Schema name
* Version (we can default this to 1-0-0)

[2014-11-22 17:12] alexanderdean opened #20 "Remove publish section and add assembly section from BuildSettings"

[2014-11-22 17:12] #20 closed, assigned to alexanderdean

[2014-11-24 10:45] jbeemster opened #21 "Add ability to merge JSON's where an object can be null or an object"
example:
{ "event": null } or { "event": { "some": ...

JsonSchema type:
["object","null"]

[2014-11-24 21:00] #18 closed, assigned to jbeemster

[2014-11-24 21:06] alexanderdean opened #22 "Add JSON Path configuration for where to find event name and payload in JSON"
This is based on the idea that you might be parsing a lot of JSONs that look like this:

[code]

In this case, the config (example in YAML) might look like this:

[code]

[2014-11-26 10:20] #4 closed, assigned to jbeemster

[2014-11-26 10:20] #15 closed, assigned to jbeemster

[2014-11-26 11:02] #3 closed, assigned to jbeemster

[2014-11-26 11:15] alexanderdean opened #23 "Upgrade JsonSchema from a Semigroup to a Monoid"
See discussion:

[code]

[2014-11-26 16:06] alexanderdean opened #24 "Make the assembled jarfile executable"
https://github.com/snowplow/snowplow/blob/release/0.9.12/3-enrich/scala-kinesis-enrich/project/BuildSettings.scala#L50

[2014-11-26 23:58] alexanderdean opened #25 "Add ability to analyze MongoDB Extended JSONs"

[2014-11-28 17:21] #21 closed, assigned to jbeemster

[2014-12-07 15:44] alexanderdean opened #26 "Add ability to analyze Mixport-extracted Mixpanel events"
Thinking of some kind of `--format=mixport` switch...

/cc @erik in case he's interested...

[2014-12-31 09:38] alexanderdean opened #27 "Add in the Vagrant boilerplate"

[2015-01-16 10:49] alexanderdean commented on #10
Moving forward to 0.1.0

[2015-01-16 10:49] alexanderdean opened #28 "Release 0.1.0 of Schema Guru"

[2015-02-11 11:27] #11 closed

[2015-04-27 11:52] alexanderdean opened #29 "Explore using http://www.jsonschema2pojo.org/"
Somehow [JSON Schema to POJO](https://github.com/joelittlejohn/jsonschema2pojo) can convert a JSON (not a schema) to a POJO, which suggests it may have logic to convert a JSON to a JSON Schema in it...

[2015-04-27 11:52] jbeemster commented on #29
That would be cool.

[2015-05-15 11:53] jbeemster commented on #14
This is done

[2015-05-15 11:53] #14 closed

[2015-05-15 12:00] jbeemster commented on #27
This is done

[2015-05-15 12:00] #27 closed

[2015-05-18 11:54] chuwy commented on #2
So we should only output warning or also try to guess?

[2015-05-18 11:54] #1 closed

[2015-05-18 12:21] alexanderdean opened #30 "Automatic testing with ScalaCheck?"
This may not be possible, but the basic idea would be:

1. Generate Scala Maps at random using ScalaCheck
2. Convert those Scala Maps into JSON
3. Use schema-guru to derive the JSON Schema for the JSON
4. Validate 2 against 3 - should always validate successfully...

[2015-05-18 12:22] alexanderdean commented on #1
Bringing forward as this has now been done...

[2015-05-18 12:26] alexanderdean commented on #2
Good question. I think we should pick one or two credible date-time formats which are likely to be widely used and add custom formats for them. I reckon to start with we should only support yyyy-MM-dd as a custom format as that's simple, unambiguous and probably quite widely used...

[2015-05-18 12:37] chuwy commented on #24
Fixed by Josh https://github.com/snowplow/schema-guru/blob/master/project/BuildSettings.scala#L59

[2015-05-18 12:37] #24 closed

[2015-05-18 12:37] alexanderdean commented on #24
Correct, thanks

[2015-05-18 12:38] alexanderdean commented on #10
Changed from Scalding to Spark and pushing back a little...

[2015-05-18 13:45] alexanderdean commented on #30
ScalaCheck: https://www.scalacheck.org/

Inspired by Haskell's QuickCheck

[2015-05-19 10:28] alexanderdean opened #31 "Identify and warn of misspelt properties using Levenshtein distance"
Suggested by @fblundun: detect fields with similar names using (measured using http://en.wikipedia.org/wiki/Levenshtein_distance), especially if they are long names.

[2015-05-19 10:29] alexanderdean opened #32 "Prompt for action with similar property names"
"hey! We have detected item_id (200 instances) and itemid (2 instances)? Which one(s) should we add to the schema? item_id / itemid / both?"

[2015-05-19 10:30] alexanderdean opened #33 "Detect IP-format strings"
Start with ipv4, then check for ipv6 as well?

[2015-05-19 10:30] alexanderdean opened #34 "Detect UUID-format strings"

[2015-05-19 10:32] alexanderdean opened #35 "Detect sensible int ranges"
We want to restrict to signed/unsigned, and use 2/4/8 byte ranges [1]

[1] http://docs.aws.amazon.com/redshift/latest/dg/r_Numeric_types201.html

[2015-05-19 10:33] alexanderdean commented on #35
Example schema created manually: https://github.com/snowplow/iglu-central/blob/master/schemas/org.w3/PerformanceTiming/jsonschema/1-0-0

[2015-05-19 10:33] alexanderdean commented on #32
Depends on #31

[2015-05-19 13:10] alexanderdean opened #36 "Auto-detect enums with configurable cardinality tolerance"
As soon as we are regularly analyzing with lots of JSON instances, we should be able to detect enums.

We should allow a configurable cardinality to define where an enum stops being an enum and reverts back to being a simple type.

[2015-05-21 07:00] chuwy commented on #30
I think it isn't obligatorily to use ScalaTest for it. Taking into account that we already use specs2 as our main test runner.
Still need test cases for possible failures (validate against another schema?), thus do not close it.

[2015-05-21 07:00] alexanderdean commented on #30
Sorry yes, this should say ScalaCheck not ScalaTest...

[2015-05-21 07:00] alexanderdean commented on #30
Title updated

[2015-05-21 07:03] alexanderdean commented on #13
Two steps:

* Add a .travis.yml file to repo root
* Add a Travis button to the README

For an example see: https://github.com/snowplow/scala-forex/

[2015-05-21 07:04] alexanderdean opened #37 "Add release and license buttons to README"
As per https://github.com/snowplow/scala-forex/

[2015-05-21 07:06] alexanderdean opened #38 "Add ability to output Avro"
So:

[code]

This is preferable to:

[code]

because JSON Schema is more permissive than Avro, so JSON Schema -> Avro introduces ambiguities...

[2015-05-21 12:23] #34 closed

[2015-05-21 13:16] #33 closed

[2015-05-22 13:32] alexanderdean opened #39 "Create a single-page UI in plain JS"
Basically swapping the panes on http://jsonschemalint.com/draft4/ :-)

1. Pane on the left to paste in the JSON instance
2. Pane on the right to paste in the JSON Schema

[2015-05-22 13:35] alexanderdean commented on #39
Thought experiment: could we run this UI entirely browser side by embedding the schema-guru logic via scala-js?

[2015-05-25 06:52] chuwy opened #42 "Remove format for strings where particular format appears only several times"
Here, `msg`
[code]
should not be recognized as format date-time.

[2015-05-25 07:02] chuwy commented on #35
What about zero and negative minimum?
Redshift defines negative ranges. But example schema defines minimum as 0.
We actually could detect both, but does it make any sense since Redshift don't care?

[2015-05-25 10:21] alexanderdean commented on #42
Agree. You want some [Mendelian inheritance](http://en.wikipedia.org/wiki/Mendelian_inheritance) for the offspring of a merge.

[2015-05-25 10:26] alexanderdean commented on #35
It's a good question. Redshift is perhaps a bad example because it's constraints are informational only.

In a database like Postgres or Oracle, it's very easy to enforce a constraint such as "this field must not contain a negative number". So it feels to me like the important things are:

* Determining what int byte size is needed to hold the number
* Determining whether the number is always posi

[2015-05-25 10:36] chuwy commented on #35
AFAIK, in Postgres this constraint is only about >0 and not like unsigned Int, so always positive maximum remains +32767, right?

[2015-05-25 10:41] alexanderdean commented on #35
Hey @chuwy - I think so:

* http://stackoverflow.com/questions/20810134/why-unsigned-integer-is-not-available-in-postgresql
* http://www.postgresql.org/docs/8.1/static/ddl-constraints.html

BTW - I am sure we will end up making some tweaks to schema-guru after you've worked on a first iglu-utils release. Because iglu-utils will make the required relationships JSON Schemas<>database tables more cle

[2015-05-25 16:53] chuwy commented on #12
This has been done last week.

[2015-05-25 16:53] #12 closed

[2015-05-26 10:27] #30 closed

[2015-05-26 10:27] #35 closed

[2015-05-26 17:35] alexanderdean opened #43 "Add support for Snowplow Thrift CollectorPayload as an ingest format"
The basic idea is this:

1. You point a new (i.e. Snowplow unsupported) webhook at your Snowplow collector
2. The collector faithfully logs all the webhook POSTs/GETs using the Thrift CollectorPayload struct
3. The events fail Enrichment because the schemas don't exist yet in Iglu
4. You point schema-guru at your raw event logs containing Thrift CollectorPayloads
5. schema-guru outputs JSON Schema

[2015-05-27 08:16] #6 closed

[2015-05-27 08:16] #8 closed

[2015-05-27 08:16] #13 closed

[2015-05-27 08:16] #37 closed

[2015-05-27 09:15] chuwy commented on #5
If I understand everything correct, this is not an issue anymore. Main object contains only a CLI-specific logic.

[2015-05-27 09:15] #5 closed

[2015-05-27 09:24] alexanderdean commented on #5
Sounds good!
On 27 May 2015 10:15 am, "Anton Parkhomenko" <notifications@github.com>
wrote:

[2015-05-27 11:53] chuwy opened #44 "Add multipleOf detection for some number fields"
Currency can be acheived using {"multipleOf": 0.01}
according to http://stackoverflow.com/questions/27260587/decimal-precision-in-json-schema

[2015-05-27 13:35] chuwy commented on #39
May be we could move it from far-out stuff to some near future? Because basic web UI will drastically increase it accessiblity and allow anyone to come up with new ideas and actually test it.

[2015-05-27 13:39] chuwy commented on #39
And furthermore, I think for main purpose of this application web UI is more appropriate than CLI since it allows user to check what he wants much more deliberately and precisely.

[2015-05-27 15:20] alexanderdean commented on #7
What does this one mean?

[2015-05-27 15:21] chuwy commented on #7
Yep. I'd like to know too. The only one hardcoded path is BaseSchemaFile, which is 1) invalid path 2) used nowhere.

[2015-05-27 15:22] alexanderdean commented on #7
Let's delete that var and close this ticket then?

[2015-05-27 15:23] alexanderdean commented on #17
To do this, the user will have to specify their vendor

[2015-05-27 15:23] alexanderdean commented on #19
This is covered by #17

[2015-05-27 15:24] alexanderdean commented on #29
Hey @chuwy - did you look at this library? Please add your thoughts to this ticket.

[2015-05-27 15:24] alexanderdean commented on #42
This feels like a pretty core part of the merge() behavior, no? I propose including this in 0.1.0, let me know your thoughts...

[2015-05-27 15:26] chuwy commented on #7
I think that val is assumed to be used for self-describing JSON. But yes, let's delete it.

[2015-05-27 15:26] alexanderdean commented on #7
thanks

[2015-05-27 15:27] alexanderdean commented on #39
I think the UI is nice for quick experimentation, although the real value I think of schema-guru is when you can derive&merge from 100s of records. Still, agree, let's move it forwards...

[2015-05-27 15:29] chuwy commented on #42
Yes. Defentily. But I think Mendelian inheritance here is unnecessary. It's just `{"format": "date-time"} merge {format: none} == {format: none}`. Straightforward as that.

[2015-05-27 15:29] alexanderdean commented on #42
Sure thing!

[2015-05-27 15:30] alexanderdean opened #45 "Flesh out README"
Some ideas:

* Add a paragraph on why you would want to use schema-guru
* Show an actual walkthrough with a real, short but relatively rich JSON

[2015-05-27 15:31] alexanderdean opened #46 "Add a CLI argument to process a single JSON"
Just to save us time when using the app rather than having to copy that JSON into a folder and then use the `--dir` option.

[2015-05-27 15:31] chuwy commented on #39
What about upload an archive? Or even drag'n'drop a bunch of files?

[2015-05-27 15:31] alexanderdean commented on #39
Yes that could work...

[2015-05-27 15:32] alexanderdean commented on #39
I like the idea that you could keep dragging JSONs into the left pane, one by one, and the right pane (the schema) would keep refining through merging...

[2015-05-27 15:33] alexanderdean opened #47 "Add Scala 2.11 support"
This can be a bit fiddly with the specs2 dependency - see this project for how to do it:

https://github.com/snowplow/scala-maxmind-iplookups/blob/master/project/Dependencies.scala#L50

Don't forget to update .travis too...

[2015-05-27 15:35] chuwy commented on #39
Actually it could be a very sophisticated app. User uploads a bunch of files, look at the schema and just presses buttons to adjust schema.

[2015-05-27 15:51] alexanderdean opened #48 "Add ability to segment JSON instances based on a JSON property"
We let users specify a JSON Path in their JSONs which tells us which JSON Schema this instance should belong to. For example, many users might have a folder full of JSON events, where the events look like this:

[code]

(source https://segment.com/docs/integrations/webhooks/#track).

Then we would run schema-guru like this:

[code]

[2015-05-27 15:52] alexanderdean commented on #26
Pushing back as #48 is the generalized option for this...

[2015-05-28 07:17] chuwy commented on #47
No problems with specs2, but iglu-scala-client (unused though, so I've deleted it) blocked build since it hasn't support of 2.11.

[2015-05-28 08:04] alexanderdean commented on #47
Thanks @chuwy - that's fine to remove iglu-scala-client...

[2015-05-28 08:06] chuwy commented on #47
I just thought it would be useful to add same ticket to iglu-scala-client.

[2015-05-28 11:02] chuwy opened #49 "Correctly extract types from product types"
If one field in sample set appears as both string and numeric it results in invalid unreduced schema.

[2015-05-28 11:16] alexanderdean commented on #49
Good catch

[2015-05-28 14:49] #7 closed

[2015-05-28 14:49] #42 closed

[2015-05-28 14:49] #46 closed

[2015-05-28 14:49] #47 closed

[2015-05-28 14:49] #49 closed

[2015-05-29 08:40] chuwy opened #50 "Submit schema-guru to http://json-schema.org/implementations.html"
Also may be we could find there some more ideas to implement.

[2015-05-29 08:43] alexanderdean commented on #50
Good idea! Let's do this as soon as 0.1.0 is out...
On 29 May 2015 9:40 am, "Anton Parkhomenko" <notifications@github.com>
wrote:

[2015-05-29 08:45] chuwy commented on #50
Do you really think 0.1.0 is ready for that kind of public attention?
Btw, I think all code of 0.1.0 is already. I'm now working on blog post and README (also URL format, but that is straightforward).

[2015-05-29 08:47] chuwy commented on #50
Also, check out http://lbovet.github.io/typson-demo/
Right pane is what I was talking about in #39.

[2015-05-29 08:56] alexanderdean commented on #50
Okay - let's keep at 0.2.0! Almost code complete for 0.1.0 - great work @chuwy !

[2015-05-29 15:10] chuwy opened #51 "Gracefully print error message and exit app if invalid path given"
NullPointerException little bit confusing here.

[2015-05-29 15:25] #45 closed

[2015-06-01 08:21] alexanderdean opened #52 "Re-factor detection algorithm from transforming raw JSON to use of Schema Types"

[2015-06-01 08:23] alexanderdean opened #53 "Add a sbt sub-project to schema-guru which embeds schema-guru in a Spray server"
Spray or Akka-http is fine.

[2015-06-01 08:26] alexanderdean commented on #23
See also #52 - it's fine to replace the Algebird Semigroup definition with a Scalaz Semigroup definition

[2015-06-01 08:30] alexanderdean commented on #22
Duplicate of #48

[2015-06-01 08:30] #22 closed

[2015-06-02 17:00] alexanderdean opened #54 "Decide on strategy around requiredFields"
Should we be adding all fields we see to requiredFields, and then removing them if they are not seen in another schema?

[2015-06-02 23:19] alexanderdean opened #55 "Change formatting around :"
Should be:

    "additionalProperties": false

not:

    "additionalProperties" : false

[2015-06-03 08:32] alexanderdean commented on #28
Done, closing.

[2015-06-03 08:32] #28 closed

[2015-06-03 09:13] alexanderdean commented on #48
Use this project: https://github.com/gatling/jsonpath

[2015-06-03 10:57] alexanderdean commented on #17
Depends on #19

[2015-06-03 10:57] alexanderdean commented on #19
This is necessary

[2015-06-03 15:49] alexanderdean opened #56 "In UI, support a file containing multiple JSONs"
They will be newline delimited as per http://ndjson.org/

[2015-06-03 15:51] alexanderdean opened #57 "In UI, support dragging a JSON string (e.g. from an email) rather than a file"
Is this even possible?

[2015-06-03 16:19] chuwy commented on #57
Sure. Not a problem.

[2015-06-04 16:25] alexanderdean opened #58 "Detect field contains base64"
This seems like a useful one. I am always sticking base64-encoded things in JSON strings...

[2015-06-04 16:26] chuwy commented on #58
Ok. How to annotate them?

[2015-06-04 16:27] alexanderdean commented on #58
I guess with a string regex format: http://stackoverflow.com/questions/475074/regex-to-parse-or-validate-base64-data

[2015-06-04 16:31] chuwy commented on #58
No, problem not with detection.
URL, IP, etc are valid values for format field. "Base64" however isn't a valid value http://json-schema.org/latest/json-schema-validation.html#anchor107

[2015-06-04 16:32] alexanderdean commented on #58
With the pattern annotation: https://github.com/snowplow/iglu-central/blob/master/schemas/com.snowplowanalytics.snowplow/elasticsearch_enriched_event/jsonschema/1-0-1#L90

[2015-06-04 16:33] chuwy commented on #58
Ok. Good point.

[2015-06-04 16:34] chuwy commented on #58
Actually, string recognitions are pretty straightfoward to implement.
If we need them, we can add them in nearest release.

[2015-06-04 16:35] alexanderdean commented on #58
Nice - let's bring this one forward then!

[2015-06-06 04:39] Aerlinger opened #59 "`sbt test` runs from localhost, but doesn't run from Vagrant instance"
I'm following the "Developer Quickstart" section from the Readme and I'm able to run and ssh into the Vagrant instance. However, when I `cd /vagrant` and run `sbt test` within the Vagrant instance I get a command not found error (`No command 'sbt' found`).

I'm able to run `sbt test` from my localhost, so perhaps I'm misinterpreting the readme.

[2015-06-06 04:50] Aerlinger commented on #59
Nevermind, the vagrant install hadn't completed.

[2015-06-06 04:50] #59 closed

[2015-06-11 13:00] chuwy opened #60 "Fix incorrectly reduced integer and number"
In case integer comes first, reduce will not handle correct minimum/maximum values.

[2015-06-15 12:42] chuwy commented on #31
```Levenshtein(key_with_ambiguous_case, keyWithAmbiguousCase) = 6```
I think it should be special case with distance 1. What do you think, @alexanderdean ?

[2015-06-15 13:21] alexanderdean commented on #31
I don't know much about Levenshtein! @fblundun?

[2015-06-15 13:24] chuwy commented on #31
It is not so much about Levenshtein itself, but about how to handle keys with ambiguous cases. Because as far as I understand that is one of most common mistakes in our JSON sets.

[2015-06-15 13:25] alexanderdean commented on #31
Ah, got it. Yes agreed!

[2015-06-15 13:26] fblundun commented on #31
We could strip out all underscores and convert all letters to lowercase before checking the distance.

[2015-06-15 13:26] chuwy commented on #31
What other special cases do we have beside snake_case/camelCase?

[2015-06-15 13:31] alexanderdean commented on #31
I'll throw out some things I've seen, not saying they all need supporting:

* Removing vowels to shorten things
* Abbreviations, e.g. s versus secs, ts versus tstamp versus time versus timestamp, cat versus category, pct versus percent versus percentage
* acronyms versus full versions (e.g. page_view or pageview versus pv)
* singular versus plural

[2015-06-15 13:34] chuwy commented on #31
At least I hope case-with-hyphens isn't something we need to be prepared for?

[2015-06-15 13:38] alexanderdean commented on #31
Which one is case-with-hyphens?

[2015-06-15 13:39] chuwy commented on #31
```{"this-is-a-valid-key": 42}```

[2015-06-15 13:41] alexanderdean commented on #31
Ah! Well, if it's possible in any single JSON-producing environment, then yes it could occur :-)

[2015-06-15 15:44] chuwy opened #61 "Output duplicated keys in Web UI"
Add a block to UI with warning about possible duplicated keys found by Levenshtein distance.

[2015-06-15 15:45] alexanderdean commented on #61
Good thinking

[2015-06-15 15:45] chuwy commented on #61
Actually it is for testing first of all. UI is super handy for that.

[2015-06-17 12:45] chuwy opened #62 "Write tests for 0.2.0 milestone"
Including:
* Web UI
* ndjson for both CLI and Web UI
* duplicated keys

[2015-06-17 12:56] chuwy commented on #55
Putting it aside for a while. At least before we'll find solution cleaner than [override](https://gist.github.com/chuwy/84ed38389b50d766f17f) whole ``DefaultPrettyPrinter``.

[2015-06-18 10:44] chuwy opened #63 "Add gulp build to sbt"
Sbt must run `gulp deploy` to compile and concatenate all JS files in build.

[2015-06-18 11:22] chuwy commented on #36
@alexanderdean Do you think we need some default cardinality value? Or if it is not specified, we just not adding it?

[2015-06-18 11:30] alexanderdean commented on #36
I think a default is difficult - if you are only processing 6 JSONs and your default is 12, then all strings will end up as enums...

[2015-06-18 11:31] chuwy commented on #36
Ok.

[2015-06-18 11:33] alexanderdean commented on #36
Thinking about it some more - I wonder if you have to weight cardinality by the number of JSONs you are examining.

45 discrete values in a million JSONs is an enum

6 discrete values in 12 JSONs is not an enum (or rather, not enough data points to know for sure).

[2015-06-18 11:35] chuwy commented on #36
Well. That makes sense. If you can provide me a formula to calculate this value, I'll glad to add it.

[2015-06-18 11:37] chuwy commented on #36
One the other hand, enum is just something we want to add or not. I think it will be better if user will decide.

[2015-06-18 12:53] alexanderdean commented on #36
Okay - let's go for your suggestion!

[2015-06-18 14:00] chuwy opened #64 "Add enum cardinality option to Web UI"

[2015-06-18 18:27] chuwy opened #65 "Refactor annotators to produce JNothing instead of JString("none")"
Annotators should always produce valid schema.

[2015-06-19 11:18] chuwy commented on #19
So, it's just CLI options, right?

[2015-06-19 11:19] chuwy commented on #48
Am I miss something? May be you mean ``"$.properties"``?

[2015-06-19 11:44] alexanderdean commented on #19
Yep CLI options!

[2015-06-19 11:46] alexanderdean commented on #48
No, it's `--schema-by "$.event"`. What this means is:

1. Read a folder of JSONs
2. Build a separate JSON Schema for each distinct value found in the `$.event` field

So one folder -> many JSON Schemas, all identified by the `$.event` field

[2015-06-19 11:47] chuwy commented on #48
But here ``$.event`` is just a string. It's not even a valid JSON.

[2015-06-19 11:48] alexanderdean commented on #48
Yes, so you will output a JSON Schema called `Purchased_an_Item.json` which contains all of the properties found in all supplied JSONs where `$.event == "Purchased an Item"`.

[2015-06-19 11:50] chuwy commented on #48
Hm. Okay. Seems I got it. At least hope so.

[2015-06-19 11:52] alexanderdean commented on #48
Okay cool - ping me if still unclear!

[2015-06-20 06:17] chuwy commented on #23
Hm. Didn't understand from above conversation why not to use `{}` as identity? I think it is an obvious solution. `{}` will validate any (even primitive just type) JSON and don't affect anything on merge.
Anyway this one ticket dependent on #52.

[2015-06-20 06:21] chuwy commented on #29
Couldn't see anything useful for us there. Our most important feature anyway is merge/reduce and there's nothing related to it as far as I see.
I think we can close this one.

[2015-06-20 08:17] alexanderdean commented on #23
`{}` as the identity makes sense - good call!

[2015-06-20 08:17] alexanderdean commented on #29
Agree - go ahead!

[2015-06-20 08:19] #29 closed

[2015-06-22 08:05] alexanderdean opened #66 "Auto-detect specific known enum sets"
E.g.:

* ISO 3166-1 alpha-2
* ISO 3166-1 alpha-3
* ISO 4217

[2015-06-22 08:08] alexanderdean commented on #52
Anton knows how to do this now - bumping to 0.3.0

[2015-06-23 13:44] chuwy opened #67 "Get SchemaVer name from JSON Path"

[2015-06-25 08:37] alexanderdean opened #69 "Add Snowplow tracking to UI"
Nothing sensitive should get tracked (i.e. not the JSONs or JSON schemas in any way).

[2015-06-25 08:41] chuwy commented on #69
I haven't implemented self-describing JSON in UI. It could be interesting to know how often people use your format.
So, tracking should be enabled in one specific build (for example, if we'll decide to host this app) or always?

[2015-06-25 08:42] alexanderdean commented on #69
Agree, we should make embedding the Snowplow tracking a build option

[2015-06-29 14:20] chuwy opened #70 "Add Elastic Beanstalk deployment using Docker"
@alexanderdean do you think it's worth to add Docker to our ansible roles?

[2015-06-29 14:20] alexanderdean commented on #70
Hey @chuwy - yes sure, would be nice to have a recent version of Docker available...

[2015-07-01 10:00] chuwy opened #71 "Remove bin/jarx-stub.sh from project"

[2015-07-01 10:10] alexanderdean commented on #71
As not used anywhere

[2015-07-01 15:14] alexanderdean commented on #50
This isn't strictly part of a release, so de-scheduling

[2015-07-01 15:42] alexanderdean opened #72 "Update vagrant push to also build and publish webui artifact"
@chuwy - please comment on this ticket with the exact build steps required, then re-assign to Alex to complete.

[2015-07-01 15:55] chuwy commented on #72
* zip files inside beanstalk directory
* create app as described here: http://www.incrediblemolk.com/running-a-docker-container-on-aws-elastic-beanstalk/#stalking and upload this zip archive
That's probably all we beed.

[2015-07-01 15:56] alexanderdean commented on #72
Can you add the webgui steps too? As we discussed in Hipchat

[2015-07-01 15:59] chuwy commented on #72
To build webui:
[code]
This will create fatjar (as usual) and will run "gulp deploy" which will compile all JS and put it into webui/src/main/resources/web/dist directory (not tracked in git).

[2015-07-01 16:01] alexanderdean commented on #72
Okay great, thanks

[2015-07-01 16:02] alexanderdean commented on #72
Is the chmod +x issue on start.sh resolved?

[2015-07-01 16:06] chuwy commented on #72
No, it isn't. I just made it executable.
So, if you just run ```zip aws.zip *``` it will be added as executable.

[2015-07-01 16:06] alexanderdean commented on #72
Got it, thanks

[2015-07-01 16:21] chuwy commented on #23
Moving it to 0.3.0. It will be done first.

[2015-07-01 16:44] chuwy opened #73 "Explore more user-friendly diff visualization"
Warn user somehow that we can't copy-paste from diff.

[2015-07-01 16:47] chuwy commented on #9
What about this one?
At first glance all CLI is fully separated from all logic. I also have few TODOs in code which suggests interface to pass options from CLI and Web UI.

[2015-07-01 16:48] alexanderdean commented on #9
I think let's push back to 0.3.0. It makes more sense to do this when we add the Spark support

[2015-07-01 16:48] alexanderdean commented on #9
Potentially lib and cli are kept as one as the cli dependencies are trivial

[2015-07-01 16:49] chuwy commented on #9
So, we will have another subproject schema-guru-spark?

[2015-07-01 16:50] alexanderdean commented on #9
Yep, that will have additional dependencies which are Spark-specific...

[2015-07-02 21:49] alexanderdean opened #74 "CLI: don't check for .ndjson extension when --ndjson set"
As nobody uses the .ndjson extension really... The CLI flag should be enough.

[2015-07-02 23:44] alexanderdean opened #75 "Running sbt test on webui before gulp deploy breaks tests"
[code]

[2015-07-03 05:45] chuwy commented on #75
I'm not sure what to do here. Remove these tests?

[2015-07-03 06:54] alexanderdean commented on #75
I think we can perhaps tweak the test run order or similar... Let's evaluate in 0.3.0

[2015-07-03 07:07] alexanderdean opened #76 "Format is being misapplied"
I'm seeing lots of strings getting this pattern applied:

    "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)$"

What does this signify? I am pretty sure that the properties in question are strings but shouldn't match the above format...

[code]

[2015-07-03 07:09] alexanderdean opened #77 "Add version string into webui"
So we can easily see which version is running

[2015-07-03 07:11] alexanderdean opened #78 "Change webui footer"
From: © 2015 Snowplow Analytics

To: © 2014-2015 [Snowplow Analytics Ltd](http://snowplowanalytics.com)

[2015-07-03 07:11] chuwy commented on #76
This is base64 pattern, as dicussed in #58

[2015-07-03 07:17] alexanderdean commented on #76
Hmm, interesting - I guess the trouble is that lots of short strings can be mis-identified as base64...

[2015-07-03 07:24] chuwy commented on #76
I encountered it only once or twice. But this will be of course eliminated on any decent set of JSONs.
Also we can add length restriction, as it's not very common thing to encode short strings. Better if no pattern will be added at all.

[2015-07-03 07:25] alexanderdean commented on #76
Length restriction is a good idea - once a field is above a certain length, if it has no spaces or punctuation then yes highly likely to be base64...

[2015-07-03 07:27] chuwy commented on #76
Ok, then we need to decide exact length. 32?

[2015-07-03 07:27] alexanderdean commented on #76
Let's discuss before work is started on 0.3.0

[2015-07-03 07:33] chuwy commented on #74
It don't checked when we parse single file.
For directories then I think we should not expect any extension like .json and just try to parse all files.

[2015-07-03 07:34] alexanderdean commented on #74
I agree - I think with a folder, we should assume everything in it is a target

[2015-07-03 07:39] chuwy commented on #74
Anyway, I think for Web UI .ndjson extension is the only way now to switch it to NDJSON mode.
I've encountered an interesting behavior in json4s parse function: if file contains several jsons it will parse only first, skip others and will not throw any exceptions, so we can't rely on exceptions to distinguish json/ndjson.

[2015-07-03 07:40] alexanderdean commented on #74
I think for the web UI, a more logical approach would be to have checkboxes to reproduce the flags that are provided to the CLI. So for every CLI --flag, there would be a checkbox in the UI. Otherwise we have different behaviors which are hard to understand

[2015-07-03 16:35] alexanderdean opened #79 "Add NFS and CORE settings to Vagrantfile to improve performance"

[2015-07-03 23:17] #17 closed

[2015-07-03 23:17] #19 closed

[2015-07-03 23:17] #31 closed

[2015-07-03 23:17] #36 closed

[2015-07-03 23:17] #39 closed

[2015-07-03 23:17] #48 closed

[2015-07-03 23:17] #51 closed

[2015-07-03 23:17] #53 closed

[2015-07-03 23:17] #56 closed

[2015-07-03 23:17] #57 closed

[2015-07-03 23:17] #58 closed

[2015-07-03 23:17] #60 closed

[2015-07-03 23:17] #61 closed

[2015-07-03 23:17] #62 closed

[2015-07-03 23:17] #64 closed

[2015-07-03 23:17] #65 closed

[2015-07-03 23:17] #67 closed

[2015-07-03 23:17] #70 closed

[2015-07-03 23:17] #71 closed

[2015-07-03 23:17] #72 closed

[2015-07-03 23:17] #79 closed

[2015-07-03 23:20] alexanderdean commented on #54
Pushing back...

[2015-07-03 23:21] alexanderdean commented on #9
Pushing back...

[2015-07-06 11:10] alexanderdean opened #80 "Change default SchemaVer to 1-0-0 from 0-1-0"

[2015-07-06 11:13] chuwy commented on #80
Wow. I was sure I found 0-1-0 as default in one of blog posts.

[2015-07-06 11:17] alexanderdean commented on #80
Hmm, maybe - if you see it again, please ping me a note

[2015-07-06 11:18] chuwy commented on #80
Trying to find it now. With no luck.

[2015-07-06 12:28] jbeemster opened #81 "Fix SchemaGuru does not create correct schema for array structures"
For structures like: `["hello"]` which is just an array with a String inside it does not create a valid JsonSchema.  It attempts to annotate the value but leaves empty arrays instead.

[code]

[2015-07-06 12:58] jbeemster commented on #81
I think this is due to the format and pattern reduce not happening unless it is nested inside a properties structure as per: https://github.com/snowplow/schema-guru/blob/master/src/main/scala/com.snowplowanalytics/schemaguru/generators/JsonSchemaMerger.scala#L138-L139

[2015-07-09 13:19] alexanderdean opened #82 "Ability to count frequency of JSON Schema properties"
This is to identify infrequently used properties (could be typos) or infrequently used types (could be bad data).

Useful for when processing over large data sets

[2015-07-09 15:13] alexanderdean opened #83 "CLI: move existing functionality into `derive` command"
So you would run Schema Guru like this:

    $ ./schema-guru-0.2.0 derive --dir {{jsons_directory}} --output {{json_schema_file}}

This is in preparation for more top-level commands.

[2015-07-09 15:14] alexanderdean opened #84 "CLI: add `ddl` command which generates JSON Paths files and Redshift DDL"
Using iglu-utils 0.1.0

[2015-07-09 15:26] alexanderdean opened #85 "CLI: add `lint` command"
Validations to perform:

### JSON Schemas

* Filename respects our Iglu path as per the regex in Iglu Central
* Is well-formed JSON
* Validates against the JSON Schema for JSON Schemas (#schemception)

For an existing implementation see:

* https://github.com/snowplow/iglu-central/blob/master/ci/lint.bash
* https://travis-ci.org/snowplow/iglu-central/builds/90437605

No validation of Redshift DDL

[2015-07-09 15:27] alexanderdean opened #86 "CLI: lint Redshift DDL?"
Not sure how we would do this:

1. Use a live Redshift database?
2. Strip Redshift-specific DDL and use a local Postgres?
3. ...?

[2015-07-09 15:29] alexanderdean commented on #85
This is the string that a valid JSON Paths file must start with:

    {"jsonpaths":["$.schema.vendor","$.schema.name","$.schema.format","$.schema.version","$.hierarchy.rootId","$.hierarchy.rootTstamp","$.hierarchy.refRoot","$.hierarchy.refTree","$.hierarchy.refParent"

[2015-07-09 17:16] alexanderdean opened #87 "CLI: allow a JSON Schema to be retrieved from Iglu for processing (e.g. `ddl`)"
Like so:

[code]

[2015-07-09 17:17] alexanderdean opened #88 "CLI: add argument to provide Iglu resolvers"
See Snowplow CLI for an example of this

[2015-07-09 17:17] alexanderdean commented on #87
Depends on #88

[2015-07-16 13:12] #63 closed

[2015-07-21 13:51] chuwy opened #90 "Unify CLI options"
Currently we have different options with the same purpose for ``ddl`` and ``derive``.

## input
derive: ``--file`` and ``--dir`` should become a single positional parameter, for example ``schema-guru derive /path/to/json-dir``, guru itself should recognize whether it's file or dir.
ddl: already works as above, but it's not a positional parameter, it's --path option. I think it should be positional

[2015-07-21 13:52] alexanderdean commented on #90
Agree with all of that! Do we do it in 0.3.0 or 0.4.0?

[2015-07-21 13:54] chuwy commented on #90
I think it would be better for 0.3.0 so we won't introduce incompatible API on every version (we already introducing it in 0.3.0 with subcommands).

[2015-07-21 13:55] alexanderdean commented on #90
Agree - sounds v sensible

[2015-07-21 18:33] chuwy commented on #76
I just got an idea for another option. With scalaz refactoring reduce operation will be moved out of merge and thus we can apply different reduce depending on how much instances was processed.
For example, if we processing 1-2 instances, this pattern won't be used at all. If this pattern encountered on >10 than let it be base64.

[2015-07-21 21:18] alexanderdean commented on #76
Good idea, so let's push back to 0.4.0

[2015-07-22 23:08] alexanderdean opened #91 "ddl not working for a folder of JSONs"
* I built iglu-utils 0.1.0 and published locally
* I built schema-guru 0.3.0 and assembled
* Then I downloaded the schemas from https://github.com/alexanderdean/Unified-Log-Processing/tree/master/ch12/12.2/schemas into a sub-folder
* Then I tried `./schema-guru-0.3.0-M1 ddl ./schemas` or `./schema-guru-0.3.0-M1 ddl ./schemas --output ./ddl'
* Ran for a second but did not output anything

Whereas i

[2015-07-22 23:12] alexanderdean opened #92 "Self-describing JSON Schema should be optional if --raw"
[code]

[2015-07-23 08:44] chuwy commented on #92
Now table name derived from self-describing name. How to derive name without it? Filename?

[2015-07-23 08:49] alexanderdean commented on #92
Filename please!
On 23 Jul 2015 9:44 am, "Anton Parkhomenko" <notifications@github.com>
wrote:

[2015-07-23 10:05] alexanderdean opened #93 "Update README to reflect new 0.3.0 functionality and CLI options"

[2015-07-23 13:55] alexanderdean opened #94 "Move Schema Guru UI into dedicated project"

[2015-07-23 13:55] alexanderdean opened #95 "Add ddl functionality to Schema Guru UI"

[2015-07-27 08:21] chuwy opened #96 "Fix ordering for JSONPaths file"
Iglu-utils API changed: https://github.com/snowplow/iglu-utils/issues/20
Need to modify DdlCommand.

[2015-07-27 08:59] alexanderdean commented on #26
This works already...

[2015-07-27 08:59] #26 closed

[2015-07-28 09:30] chuwy opened #97 "Swap all occurrences of "igluutils" with "schemaddl" to reflect renaming"

[2015-07-29 13:48] alexanderdean opened #98 "Rename ddl --size argument"
It should be --varchar-size or similar

[2015-07-29 14:32] alexanderdean opened #99 "Reject --with-json-paths and --split-product-types together"

[2015-07-29 18:43] #83 closed

[2015-07-29 18:43] #84 closed

[2015-07-29 18:43] #74 closed

[2015-07-29 18:43] #80 closed

[2015-07-29 18:43] #90 closed

[2015-07-29 18:43] #91 closed

[2015-07-29 18:43] #92 closed

[2015-07-29 18:43] #93 closed

[2015-07-29 18:43] #96 closed

[2015-07-29 18:43] #97 closed

[2015-07-29 18:51] alexanderdean commented on #81
@chuwy - it looks like this wasn't done in time for this release, pushing back

[2015-08-04 07:40] bogaert opened #100 "Integrate schema guru UI in website UI"
Not high on the list of priorities, but long-term it might make sense to have a consistent UI across all Snowplow web-properties.

[2015-08-04 09:37] chuwy commented on #100
For sure. UI styles now are fairly primitive.
Just give me a layout or at least some ideas for modifications.

[2015-08-04 09:46] chuwy opened #101 "Add option to switch between list and tuple schemas for arrays"
Currently it produces list schemas like this:
[code]
Tuple schemas look like this:
[code]

More about differences: http://spacetelescope.github.io/understanding-json-schema/reference/array.html#items

[2015-08-04 09:56] bogaert commented on #100
What I had in mind: Embed Schema Guru in a new section on our website (using an iframe or via Javascript), otherwise we need to keep both designs in sync.

There's no need to do this right now – more something to keep in mind as we build more tools that have a web component.

[2015-08-13 12:41] chuwy commented on #66
Just found out that we can easily allow user to provide his own enum sets. Is it on demand?

[2015-08-13 19:58] alexanderdean opened #102 "CLI: allow Heap to be configured"
To prevent Java Heap errors when processing huge files of JSONs (e.g. 7Gig).

As a workaround I am running:

    java -Xmx6g -classpath ./schema-guru-0.3.0 com.snowplowanalytics.schemaguru.Main schema 2015-08-12T08Z.log

[2015-08-13 20:03] alexanderdean commented on #102
Other useful settings are:

[code]

as per http://stackoverflow.com/questions/5497259/how-to-fix-requested-array-size-exceeds-vm-limit-error-in-java

[2015-08-13 23:40] alexanderdean commented on #54
I think we should be adding all fields we see to requiredFields - otherwise there is basically no way of creating a `NOT NULL` field in our schema...

[2015-08-13 23:40] alexanderdean commented on #54
/cc @fblundun

[2015-08-14 09:35] chuwy commented on #54
I think the only way is to add field to requiredFields if it occurring in ALL instances. If it's omitted even once it isn't required.

[2015-08-14 09:36] alexanderdean commented on #54
Agreed

[2015-08-14 13:03] fblundun commented on #54
That sounds sensible to me.

[2015-08-25 12:54] chuwy opened #103 "Port to cats"
Since cats now support Scala.js (https://github.com/non/cats/issues/18) there's almost no dependencies preventing us to port SG to Scala.js. Do it when cats will be mature enough.

[2015-08-25 12:56] chuwy opened #104 "Port to circe"
Since circe now support Scala.js (https://github.com/travisbrown/circe/issues/12) there's almost no dependencies preventing us to port SG to Scala.js. Do it when cats & circe will be mature enough.

[2015-08-25 13:20] chuwy commented on #66
Although user can specify custom enum sets, I think we need to built-in something besides those three. May be OSs? User Agents?

[2015-08-25 13:21] alexanderdean commented on #66
I think let's keep it at these for 0.4.0 - keep the release batch size small...

[2015-09-02 21:06] alexanderdean commented on #38
Hey @chuwy - given that this is non-essential to the 0.4.0 release, I'm keen to push this back so that we can ship 0.4.0 sooner. Let me know if you have any concerns about this!

[2015-09-02 21:07] chuwy commented on #38
Ok. Still haven't started work on it.

[2015-09-02 21:07] alexanderdean commented on #38
Okay pushing back

[2015-09-03 11:08] alexanderdean opened #105 "Replace schema URI comment in Redshift DDL generation with Redshift COMMENT ON"
Currently we produce Redshift DDL which looks like this:

[code]

We want to move the iglu: Schema URI from a discarded syntax comment to a retained metadata comment like so:

[code]

This will retain the metadata in Redshift so that Snowplow can find out which version of a table has been deployed.

[2015-09-03 11:09] alexanderdean commented on #105
How to retrieve a comment using SQL:

[code]

[2015-09-03 13:41] chuwy commented on #105
Should we add something in raw mode? Source file?

[2015-09-03 13:43] alexanderdean commented on #105
I think given that we are adding the COMMENT ON we can remove the `--` comment line which says the same thing...

[2015-09-09 10:26] alexanderdean opened #106 "DDL: add default value for JSON property if default provided"
https://github.com/json-schema/json-schema/blob/master/draft-04/schema#L44

[2015-09-09 10:29] chuwy commented on #106
Different options for each type? ``--default-object {} --default-integer 3 ...`` ?

[2015-09-09 10:30] alexanderdean commented on #106
No - we attach a default value to the table if a default value is asserted inside the JSON Schema...

[2015-09-09 10:31] chuwy commented on #106
Oh. Right.

[2015-09-10 16:52] chuwy opened #107 "Derive maxLength for string values"

[2015-09-10 16:53] chuwy commented on #107
@alexanderdean I think we should omit it if derived value >4096

[2015-09-10 17:51] alexanderdean commented on #107
How come?

[2015-09-10 17:54] chuwy commented on #107
Sorry. Thought Redshift `VARCHAR` without length is Postgres analog of `TEXT`.

[2015-09-10 17:55] alexanderdean commented on #107
Ah - alas no it's not...

[2015-09-14 18:02] gabrielcrowdtilt opened #108 "Remove "Generated" timestamp from sql files"
For example, the beginning of an sql file generated by the tool will be like:

-- AUTO-GENERATED BY schema-ddl DO NOT EDIT
-- Generator: schema-ddl 0.1.0
-- Generated: 2015-09-10 16:28

But then, if I rerun the command over the whole directory, each time, it will change all the timestamps in all the sql files. But these files are all checked into git, so now the files have changed, when they haven

[2015-09-14 19:14] chuwy commented on #108
We'll do it!
Let's call it ``--no-header`` option. For now ``schema-guru input.json | tail -n+5`` should work for you.

[2015-09-15 09:36] chuwy opened #109 "Move documentation to wiki"
README.md should only have basic info and "Getting Started".
Everything else should be splitted to at least following wiki pages:
* Overview
* CLI
* Working with Web UI
* Run spark job

[2015-09-16 13:40] chuwy commented on #23
We haven't commit for this, but it covered by #52

[2015-09-30 15:58] chuwy opened #111 "Consider a way to handle typed maps"
For EC2 metadata with
[code]
Schema Guru will try to create key `0a:f5:99:89:bb:37`. We need to find a way to recognize keys with some patterns and handle it's inner keys.

snowplow/snowplow-scala-tracker#2

[2015-10-20 09:13] alexanderdean commented on #44
Bringing forward...

[2015-10-20 11:19] yalisassoon opened #112 "Update Redshift SQL table definition to use decimal or integer types"
If a jsonschema has field definition for a number with `multipleOf: 1` the corresponding SQL field definition should be an `integer` - currently it's a `float`.

If a jsonschema has a field definition for a number with `multipleOf: 0.01` the corresponding SQL field definition should be a decimal with the appropriate number of decimal places.

Not sure if this should be 1 ticket or 2?

[2015-10-20 11:21] chuwy commented on #112
Duplicates snowplow/schema-ddl#42 and snowplow/schema-ddl#41

[2015-10-20 11:21] yalisassoon opened #113 "Add encoding to Redshift table definitions"
As per Bogaert's hierarchy - thought there was a ticket to do this but can't find it - feel free to delete if I've just missed it...

cc @alexanderdean

[2015-10-20 11:24] chuwy commented on #113
Yes it's in schema-ddl's issues snowplow/schema-ddl#29.
It will work in SG 0.4.0 release as it depends on schema-ddl 0.2.0. Current release depends on 0.1.0.

[2015-10-20 11:24] #113 closed

[2015-10-20 11:24] alexanderdean commented on #113
I will try and get SG 0.4.0 out this week...

[2015-10-20 12:05] yalisassoon opened #114 "Fix version in SQL table definition files"
Currently it looks like the table definition is always versioned _1: https://github.com/snowplow/schema-guru/blob/master/src/main/scala/com.snowplowanalytics/schemaguru/cli/DdlCommand.scala#L226

Thanks @serenata-evaldas for the spot

[2015-10-22 16:45] alexanderdean opened #115 "Move Spark tasks.py into Schema Guru CLI"
So that we have:

[code]

[2015-10-22 16:47] alexanderdean opened #116 "Consider alternative format for external enum sets"
* Newline-delimited flatfile, one enum entry per line?
* NDJSON?

JSON format is flexible (lets you express enums of objects) but quite hard to generate from e.g. Bash or Excel.

[2015-10-22 16:55] chuwy commented on #116
As I said earlier about integers. If we want to provide enum of integers `[2,4,8,16,32]` how it should look like in first case? We need to embrace everything in quotes to separate string and integers. Then it's not much better than JSON array (just add commas and two square brackets).
I think it would be better to provide one-liners for Python/JS/Bash in wiki to generate these JSON arrays from oth

[2015-10-22 16:56] alexanderdean commented on #116
Good point...

[2015-11-05 01:23] alexanderdean commented on #114
Implemented by #117

[2015-11-06 06:43] coderextreme opened #118 "Can Schema Guru handle nested structures like div in HTML and g in SVG (if they were converted to JSON)"
Here's a sample JSON file http://coderextreme.net/SeaStarGroup.json [here's the license for this file: http://x3dgraphics.com/examples/X3dForWebAuthors/license.html ].  I will download schema-guru try this unless you get to me soon.

[2015-11-06 06:49] jbeemster commented on #118
Hey @coderextreme you can try out schema-guru here (http://schemaguru.snowplowanalytics.com/).  As for the JSON you supplied it does appear to have successfully produced a JsonSchema.

[2015-11-06 06:52] coderextreme commented on #118
Yeah, I just tried it.  It produced a JSON schema, but if you look, Transforms are specified over and over.  We just want one Transform object/attribute in the schema I think, if possible.

[2015-11-06 06:59] coderextreme commented on #118
If one could specify a JSON schema to start derived from an XML Schema, like one from Jsonix Schema Compiler or JAXB/Jsonix, or conversion from OWL, I think that would work better.  In this case, our attribute names, arrays and comments have a prefix, @, - or #, so I don't think that would work without some coding.  Or if I could take 2 schemas with similar names and copy the names from the schema

[2015-11-06 07:02] coderextreme commented on #118
Ugh, too many transforms.

John

[2015-11-12 15:11] chuwy commented on #118
Hi @coderextreme! Sorry for late reply, I missied this issue somehow.
Unfortunately (if I understand everything correct) that is not possible now to derive these nested objects as separate subschemas. Although it would be a nice feature to have, at the same time it's hard to implement and not corresponds with our current needs.
I'll schedule it as far-out milestone, but I couldn't promise it will

[2015-11-17 14:53] #10 closed

[2015-11-17 14:53] #52 closed

[2015-11-17 14:53] #66 closed

[2015-11-17 14:53] #98 closed

[2015-11-17 14:53] #99 closed

[2015-11-17 14:53] #105 closed

[2015-11-17 14:53] #107 closed

[2015-11-17 15:00] alexanderdean commented on #81
Looks like this hasn't been done, @chuwy please confirm...

[2015-11-17 15:01] alexanderdean commented on #76
This didn't auto-close. Is it done in 0.4.0 @chuwy ?

[2015-11-17 15:02] alexanderdean commented on #23
This is done, closing.

[2015-11-17 15:02] #23 closed

[2015-11-17 15:02] chuwy commented on #76
Yes, it was done. I don't know why it didn't get closed.

[2015-11-17 15:03] alexanderdean commented on #76
No worries, closing.

[2015-11-17 15:03] #76 closed

[2015-11-17 15:03] alexanderdean commented on #81
I can see it in the CHANGELOG, weird...

[2015-11-17 15:04] chuwy commented on #81
It's done too. It has no separate ticket, because it was part of refactoring. And seems I forgotten to put it in CHANGELOG. But it's done.

[2015-11-17 15:05] alexanderdean commented on #81
Okay closing

[2015-11-17 15:05] #81 closed

[2015-11-17 15:10] alexanderdean opened #119 "Update vagrant push to upload sparkjob to Bintray"

[2015-11-19 10:24] alexanderdean commented on #9
This was done implicitly anyway, closing

[2015-11-19 10:24] #9 closed

[2015-11-26 13:00] alexanderdean commented on #85
See https://github.com/fge/json-schema-validator/blob/master/src/main/java/com/github/fge/jsonschema/main/cli/Main.java#L156

[2015-12-14 10:37] chuwy commented on #119
Not sure on it. Need to test somehow.

[2015-12-14 16:10] alexanderdean commented on #119
No worries - I'll test when it's time to release!

[2015-12-15 10:59] chuwy opened #120 "Suggestions for predefined enum sets"
There are plenty more options for implemented in 0.4.0 [--enum-sets] (http://snowplowanalytics.com/blog/2015/11/17/schema-guru-0.4.0-with-apache-spark-support-released/#enums) feature. Here we're collecting them to decide what we can add.
One important restriction is that we must have single source of truth for proposed enumerations, like ISO, source code or something similar, that's why "colors"

[2015-12-16 16:34] jbrok opened #121 "Support patternProperties?"
Using Schema Guru DDL on a JSON Schema that uses `patternProperties` in 0.4.0 to create json path files and the .sql fails. The files are created but without my custom data fields from my properties. The JSON schema is created with Schema Guru (and then manually edited `patternProperties`). Schema DDL throws no error.

The documentation says this is supported:
"Object without properties, but with

[2015-12-16 16:45] chuwy commented on #121
Thanks @jbrok. Seems like a bug. I'll investigate it.

[2015-12-17 19:21] alexanderdean opened #122 "NumberFormatException running schema-guru ddl with this schema"
{
  "type": "object",
  "properties": {
    "id": {
      "type": "integer",
      "minimum": 0,
      "maximum": 32767
    },
    "eventTime": {
      "type": "integer",
      "minimum": 0,
      "maximum": 9223372036854776000
    }
}

[2015-12-17 19:28] chuwy commented on #122
What type do we need to use? `DECIMAL` won't handle it.

[2015-12-17 19:29] alexanderdean commented on #122
Isn't `9223372036854776000` the flag value for BIGINT?

[2015-12-17 19:31] chuwy commented on #122
To compare:
`9223372036854775807` - BIGINT
`9223372036854776000`

[2015-12-17 19:31] alexanderdean commented on #122
1. Go to http://schemaguru.snowplowanalytics.com/#
2. Paste in `{ "eventTime":1450310135000 }`
3. Get:

[code]

[2015-12-17 19:35] chuwy commented on #122
Ok. Seems use of Scala `Long.MaxValue` was bad idea.

[2015-12-18 10:05] fblundun commented on #122
Maybe [json-bigint](https://www.npmjs.com/package/json-bigint) would help?

[2015-12-18 10:06] chuwy commented on #122
Yes, I'll use it. There's also few fore similar libraries.

[2015-12-21 10:14] chuwy opened #123 "Explore type providers for scala case classes derivation out of JSON Schema"
It was raised milessabin/shapeless#72 in shapeless and seems all type providers stuff is very interesting stuff to explore, since lot of Snowplow code is depending on extracting data (case classes) from self-describing JSONs. Any form of Scala type derivation could be very useful for us.

[2015-12-22 06:31] chuwy opened #124 "Replace argot with scopt"
As stated on [official website](http://software.clapper.org/argot/), project now is dead. Also it has some inconvenience for our usage.
Consider move to [scopt](https://github.com/scopt/scopt) (mature, stable, popular) or [case-app](https://github.com/alexarchambault/case-app) (simple and looks more suitable for args -> Schema context transform).

[2015-12-28 14:31] chuwy opened #125 "Reimplement --schema-by with proper Jackson converting"
Now JSON transforming to string as intermediate representation.

[2016-01-12 16:15] bogaert opened #126 "Support anyOf or oneOf fields?"
A client ran into this issue when trying out Schema Guru.

[code]

[2016-01-12 16:16] alexanderdean commented on #126
Hmm - that's a product type, quite hard for us to support currently. Assigning to @chuwy to comment...

[2016-01-12 16:18] bogaert commented on #126
No problem - I created a ticket just in case.

[2016-01-12 16:42] chuwy commented on #126
I think solutions different from `VARCHAR(4096)`(same as for `"type": ["string", "number"]`) are literally impossible here. So we just need to be aware of `anyOf` and `oneOf` fields.

[2016-01-19 11:27] alexanderdean commented on #111
I believe one approach would be to look in our merge algorithm for repeating types with a significant (?) degree of overlap in their fields...

[2016-01-19 11:27] alexanderdean commented on #111
This is actually an important feature as it's totally valid to use JSON dictionaries as maps rather than records.

[2016-01-21 15:45] alexanderdean opened #127 "Evaluate json-schema-codegen for JSON Schema -> Scala case classes"
https://github.com/VoxSupplyChain/json-schema-codegen

[2016-01-21 15:55] chuwy commented on #127
Pretty cool to be honest. Especially with SBT-plugin. No macro/type-providers magic though (not sure is it bad or good).

[2016-01-21 18:14] alexanderdean opened #128 "Add support for Snowplow enriched events as an ingestion format"
This would work well with schema exploration using the anything_{a|b|c} schemas.

[2016-01-21 18:14] alexanderdean commented on #128
Cousin of #43

[2016-02-08 14:46] chuwy opened #130 "Bump schema-ddl to 0.3.0"
Fixes #112

[2016-02-08 16:01] chuwy opened #131 "Remove OpenJDK from .travis.yml"

[2016-02-11 00:38] #108 closed

[2016-02-11 00:38] #114 closed

[2016-02-11 00:38] #119 closed

[2016-02-11 00:38] #130 closed

[2016-02-11 00:38] #131 closed

[2016-02-12 00:30] alexanderdean opened #132 "Fix get_version for vagrant push script"
False alarm.

[2016-02-12 00:34] #132 closed

[2016-02-12 12:25] alexanderdean commented on #38
@chuwy to add a link to a project/lib? that does this already...

[2016-02-12 12:34] chuwy commented on #38
This one https://github.com/fge/json-schema-avro

[2016-02-12 12:35] chuwy commented on #38
On the other hand, I remember that project was a CLI app. But if we could use this as a library and not as another tool is much better.

[2016-02-12 12:54] alexanderdean commented on #38
+1 great idea to use this lib...

[2016-02-12 13:10] chuwy commented on #38
One more good thing is that if we're going to use this library, we'll need to integrate SG with https://github.com/fge/json-schema-core (should be easy) and therefore it will be compatible with https://github.com/fge/json-schema-validator which are both almost de-facto standard for Java-world.

[2016-02-17 11:30] alexanderdean opened #133 "Error in flattenJsonSchema with com.snowplowanalytics.snowplow/contexts/jsonschema/1-0-0"
We can't necessarily support this easily, but we should be explicit that we cannot support it in that case.

If you run this https://github.com/snowplow/iglu-central/blob/master/schemas/com.snowplowanalytics.snowplow/contexts/jsonschema/1-0-0 through Schema Guru, you get:

[code]

[2016-02-22 12:36] alexanderdean commented on #124
Looks like the Argot author is recommending scopt, so happy for us to go with that...

[2016-02-22 13:05] alexanderdean opened #134 "Add SQL migrations between schema ADDITIONs"
Consider the `link_click`: https://github.com/snowplow/iglu-central/tree/master/schemas/com.snowplowanalytics.snowplow/link_click/jsonschema

When running Schema Guru against this folder, Schema Guru should generate a file:

    /sql/com.snowplowanalytics.snowplow/link-click/1-0-0/1-0-1.sql

The contents of this file should be:

[code]

In the case that `com.acme/eg-schema/1-0-0`, `/1-0-1`, `/1-0-

[2016-02-22 13:35] alexanderdean commented on #134
Feedback @lesjonesiv, @yalisassoon, @chuwy ?

[2016-02-22 14:02] alexanderdean opened #135 "Fix column ordering for Redshift tables across ADDITIONs"
Column order for a `com.acme/eg-schema/1-0-3` should match the order of columns if all the individual migration scripts (per #134) were applied.

The rules should be as follows:

* Columns will be alphabetically ordered within an initial release (e.g. 1-0-0) - we needed a way of ordering JSON dictionary fields, which are intrinsically unordered. Alphabetical seems the safest
* New columns in an `A

[2016-02-22 14:03] alexanderdean commented on #135
/cc @lesjonesiv, @yalisassoon

[2016-03-03 15:46] alexanderdean opened #136 "DDL: support string/number union type"
We should support the common scenario of:

/cc @yalisassoon

A string/number union type should be represented by a `VARCHAR(x)` - in other words the numeric possibility is stringly typed in the column.

[2016-03-03 15:47] alexanderdean opened #137 "Support REVISION migration into string/number union type"
Do in tandem with #136

Scenarios:
### Was string, now string/number

Do nothing - number will be stringly typed.
### Was number, now number

Convert field from numeric to string.

_Obviously this should interoperate correctly with nullability too_

[2016-03-09 13:06] alexanderdean opened #138 "Remove Beanstalk configuration"
Currently we have a Docker-based Beanstalk configuration for the web UI.

We should revert to using vanilla Java for Beanstalk (like Iglu Scala Schema Registry does) and instead support standard Docker as part of https://github.com/snowplow/docker-snowplow/issues/3

[2016-03-11 19:58] a1nayak opened #139 "Ability to merge json models into final model"
Currently the cli allows for merged model to be created on existing json files in a directory structure.
For a use case, wherein, we want to have a final json model on a daily basis based on all json files received on that day, the volume of files we need to save on the directory structure to achieve the merged model is very large and isn't possible. We get millions per day.

If there is an abilit

[2016-03-11 23:33] alexanderdean commented on #139
Hey @a1nayak - first off, if you are needing to derive schemas (I think you call these models) from millions of JSON instances, then you should check out the Spark-based runtime for Schema Guru rather than the CLI one.

On the wider point - allowing merge of models - this is an interesting idea. Is this because you want to evolve a fixed set of models on a daily basis, i.e. schema_d_tuesday should

[2016-03-12 00:40] a1nayak commented on #139
Thanks @alexanderdean for response.
We have a kafka-storm-druid pipeline for analytics purposes wherein we capture data form multiple sources. Sometimes when the json data is sent, some attributes are missing or some may be added.

Since we are already capturing all messages in the pipeline, we wanted to extend to catch the schema drift - diff between a schema model for a particular source today v

[2016-03-12 00:48] alexanderdean commented on #139
Hi @a1nayak - thanks for sharing that detail, it's super-interesting.

We don't have a direct problem with schema drift at Snowplow because we use self-describing JSONs which have to pass validation against their schema to progress down the pipeline - there's no concept of schemas changing without the business making the change. However, I agree that your approach would be nice for dynamic third-p

[2016-03-12 01:04] a1nayak commented on #139
@alexanderdean  That's exactly I started doing - created a file directory structure per hour per each source and than ran schema guru on base. But the volume in very high in Walmartlabs as we are in large scale processing taking events from multiple sources (which we can't control). Each souce generates close to 10 million files - which we wouldn't be able to keep in a file system to run at end of

[2016-03-12 01:08] alexanderdean commented on #139
Hey @a1nayak - that makes sense. I don't see why we can't expose a method in Schema Guru to merge one `schema` with another `instance` (or another `schema`) to product `schema'`. PR welcome!

[2016-03-15 16:14] chuwy opened #140 "Placeholder for supporting migration cases"
Here I'm collecting possible Schema-migrations and ways to handle it
- New property (column) added. Addition. Will be [implemented](https://github.com/snowplow/schema-guru/issues/134) in 0.6.0.

[code]
- Property become nullable. Revision. See #147

[code]
- Property become union-type: `string -> [string, number]`. Revision.  See #137

[2016-03-15 16:17] alexanderdean commented on #140
How about:

1. A default is added to a property
2. A minimum and/or maximum value is removed from a numeric

[2016-03-16 19:42] chuwy opened #141 "Add force flag"
If user made any manual edits in DDL files or [migrations](https://github.com/snowplow/schema-guru/issues/134) SG now will silently override all files, which can lead to problems.
With new approach we can print a message that file's content is different from what Schema Guru generated (line with date should be omitted) instead of overriding it. And if user specified `--force` flag it will print me

[2016-03-17 16:50] alexanderdean opened #142 "Add Spark Streaming with Kinesis support"
See #43, #139

The basic idea is that you point a new webhook at a Snowplow Scala Stream Collector. Behind the Snowplow collector, we have a Spark Streaming job running Schema Guru. We would shard based on schema so that only one worker is operating on each schema. We fetch the most recent schema from Iglu, merge the output of our new 5 minutes worth of derivation, and then push the updated schema

[2016-03-22 11:23] christoph-buente commented on #2
In order to generate the schema for shopify webhooks, i'd like to have the enum-set for date stringISO 8601 implented. It's widely used, see here: https://docs.shopify.com/api/reference/order

[2016-03-22 11:35] christoph-buente opened #143 "Allow to pass predefined field to type definitions"
In the process of generating the schema for shopify webhooks i came across a bunch of fields, that i know the format of, but the schema-guru fails to find out correctly. For example lat,lon coordinates, or currencies. My shop is in one currency only, so the guru will read it as string "EUR" instead of enum-set ISO 4217.

Is it feasable to ask for an option to provide a mapping JSON file like this:

[2016-03-22 11:38] alexanderdean commented on #143
Interesting idea! @chuwy, @fblundun, thoughts?

[2016-03-22 11:40] chuwy commented on #143
Yes, that makes sense and I like this idea. Property names often introduce more information than actual values. Do you think we need to provide any mappings by default, like with enum sets?

[2016-03-22 11:49] chuwy commented on #143
@christoph-buente I assume that by `min` and `max` you meant `minimum` and `maximum` properties. To make it simple I think we should just try to put content of mapping straight into Schema, so it also would be better to put a full `enum` property rather than invented here `enum-type`. We don't want users to learn one more domain-specific language.
Also, I assume that values still have a priority o

[2016-03-22 13:06] christoph-buente commented on #143
Yes, i mean minimum and maximum. Changed it in the example. I also think it should be as simple as it can possibly be.

And of course there should be at least a warning or an error, if the values don't match with the observed values. Or maybe even discarded.

[2016-03-22 13:13] chuwy commented on #143
@christoph-buente could you also elaborate on your example with EUR? Do you use [`--enum-sets all`](http://snowplowanalytics.com/blog/2015/11/17/schema-guru-0.4.0-with-apache-spark-support-released/#enums) option and it still not recognizes currency enum set or you omitted this option?

[2016-03-22 13:18] christoph-buente commented on #143
I just found out about the ```--enum-sets all``` setting. And yes, it works.

[2016-03-22 13:19] chuwy commented on #143
Cool! Feel free to add your suggestions: https://github.com/snowplow/schema-guru/issues/120

[2016-03-22 13:22] christoph-buente commented on #120
ISO 8601: https://en.wikipedia.org/wiki/ISO_8601

[2016-03-22 13:59] christoph-buente commented on #120
Can the enum also be a pattern ("pattern" : "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)$") or a format ("format" : "ipv4") or is it exclusively for an array of representations as allowed values?

And why is the format: "ipv4" not a regexp as well :) ?

[2016-03-22 14:16] chuwy commented on #120
Unfortunately, enum is always just an array of allowed values (not just strings, but numbers, objects etc are allowed as well). It is defined like that in [JSON Schema specification](http://json-schema.org/latest/json-schema-validation.html#anchor76). Same for ipv4: we derive it as format just because it is [defined](http://json-schema.org/latest/json-schema-validation.html#anchor107) that way in

[2016-03-22 14:22] chuwy commented on #120
I really like all ideas with custom logic: mappings, regexes, etc. One problem with it is just it seems not very on demand among Schema Guru users and relatively hard to implement. I think it could be much more useful if it will be embedded in Web UI.

[2016-03-22 14:29] christoph-buente commented on #120
Also fine with me. I did not use the web ui yet.

[2016-03-22 14:31] chuwy commented on #120
http://schemaguru.snowplowanalytics.com/

[2016-03-22 14:43] christoph-buente commented on #120
I uploaded 80+ files  and it would not generate a schema. The submit button is not activated, unless i put JSON into the text field. Upload only does not seem to be supported.

[2016-03-22 14:49] christoph-buente commented on #120
Ok, i read up on the JSON schema and saw there is support for the ISO 8601 aka RFC 3339 already. But for some reason the email format is not correctly detected. So i think #143 is still valid, to pass in any mapping between a field name and a enum/type/format definition.

[2016-03-24 10:47] alexanderdean commented on #138
Pushing back

[2016-03-24 10:48] alexanderdean commented on #133
Pushing back as this message is coming from schema-ddl

[2016-03-28 12:12] alexanderdean opened #145 "Bump Spark to 1.6.0"
See https://github.com/snowplow/spark-example-project/releases/tag/0.4.0

[2016-03-28 12:29] alexanderdean commented on #115
Using https://github.com/ogrodnek/spark-plug

[2016-03-28 12:32] alexanderdean commented on #87
Closing as schema-guru ddl will move to iglu-static-repo-generator

[2016-03-28 13:35] chuwy opened #146 "Remove AWS-related tools from up.playbooks"
It fails provisioning.

[2016-03-28 13:55] chuwy commented on #146
Also removed invoke and boto, as they're useless without aws-tools.

[2016-03-28 13:56] alexanderdean commented on #146
Okay - updated ticket name to make clear

[2016-03-28 22:56] alexanderdean opened #147 "Support REVISION migration for properties becoming nullable"
This is a revision. I want to prioritize this one from #140 to check there aren't any issues around column placement

[code]

[2016-04-07 20:12] #124 closed

[2016-04-07 20:12] #125 closed

[2016-04-07 20:12] #134 closed

[2016-04-07 20:12] #135 closed

[2016-04-07 20:12] #141 closed

[2016-04-07 20:12] #146 closed

[2016-04-07 20:49] alexanderdean commented on #122
Not implemented, pushing back... **@chuwy please check all tickets have been completed or pushed back before opening a release PR**

[2016-04-07 20:53] alexanderdean opened #148 "Fix regression where SQL file for _MODEL is missing .sql extension"
Please fix ASAP

[2016-04-07 23:40] alexanderdean opened #149 "Fix regression where JSON Paths file is missing .json extension"

[2016-04-12 15:36] #148 closed

[2016-04-12 15:36] #149 closed

[2016-04-12 15:59] alexanderdean commented on #85
Migrated, closing

[2016-04-12 15:59] #85 closed

[2016-04-12 16:00] alexanderdean commented on #86
Migrated

[2016-04-12 16:00] #86 closed

[2016-04-19 21:11] yalisassoon opened #151 "Add support for creating elasticsearch mappings"
Currently we don't explicitly set elasticsearch [mapping](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html) when loading data into elasticsearch from snowplow. Instead we rely on elasticsearch to infer the mapping (schema) for us.

That's a shame because we know the schema, so should be able to explicitly set mapping and avoid failures due to elasticsearch incorrectly m

[2016-04-19 21:15] alexanderdean commented on #151
This would be awesome!

[2016-04-28 17:09] alexanderdean opened #152 "Improve help message for --enum <n>"
Currently:

[code]

Should be something like:

[code]

[2016-04-28 17:22] alexanderdean opened #153 "Add --output option which auto-generates Iglu-compatible folder structure"
So running:

[code]

Would generate:

[code]

[2016-04-28 17:39] alexanderdean opened #154 "Add --no-additional-properties option"
In the absence of schema inference, it's helpful to always default `additionalProperties` to true. This means that we protected in the case that:

1. There are additional rare properties in the schema which were not present in any of the source instances provided to Schema Guru
2. The source instance author decides to add a new field

We should default to `"additionalProperties" : true` in Schema

[2016-04-30 12:27] alexanderdean opened #155 "Add ability to generate JSON Schema for CSV/TSV"
This needs further thought...

[2016-05-01 11:06] chuwy commented on #155
Are we going to give [JSON Table Schema](http://dataprotocols.org/json-table-schema/) another try?

[2016-05-01 19:04] alexanderdean commented on #155
Maybe, but I suspect we want to resolve CSV/TSV into JSON Schema or Avro, as we do JSON...

[2016-05-01 23:23] alexanderdean opened #156 "ddl --force argument provides ambiguous statuses"
[code]

The JSON Paths files weren't upgraded in either case, but with --force it claims they were.

[2016-05-01 23:40] alexanderdean opened #157 "Bump schema-ddl library to 0.3.1"
Consider these schemas:

https://github.com/snowplow/iglu-central/tree/master/schemas/com.clearbit

Then look at these table definitions, created with 0.6.1:

https://github.com/snowplow/snowplow/pull/2635/files

Notes:

* "geo.lat" looks good
* "geo.lng" looks good
* "angellist.id" should be a INT NULL, not VARCHAR(4096)

[2016-05-03 11:56] chuwy commented on #157
Renamed (this bug affects only integers).

[2016-05-03 12:54] chuwy commented on #157
This is fixed in #158. But it resolves `angellist.id` and others to `INT`, not to `BIGINT` (which I guess is correct for 2147483647).

[2016-05-03 13:34] chuwy commented on #152
Bringing forwards. It was implemented in #158

[2016-05-03 18:38] alexanderdean commented on #157
Thanks @chuwy - I have corrected the ticket to say INT not BIGINT

[2016-05-05 10:48] yalisassoon opened #159 "Fix handling of new major schema version"
I just tried using schema guru to generate a new SQL table definition for a new schema version 2-0-0.

The expected behaviour:

* Generate a new jsonpath file with version _2
* Generate a new sql table definition file with version _2

Instead it looks like the _1 version were updated with the fields in `2-0-0`.

Steps to reproduce:

I generated a 1-0-0 `schemas/com.example_company/example_event/1-

[2016-05-05 10:57] yalisassoon commented on #159
My bad - I had the schema version wrong in the file. Closing - sorry!

[2016-05-05 10:57] #159 closed

[2016-05-07 08:31] alexanderdean opened #160 "DDL: support other union types"
Aka product types aka JSON Schema enums. Follow on from #136

[2016-05-07 08:33] alexanderdean opened #161 "Placeholder for other migrations across REVISIONs"
Follows on from #137

[2016-05-07 08:49] alexanderdean opened #162 "Support REVISION migration into x/null union type"
If we have a string, number or similar and we then detect that it should support nulls as well, then we should perform a migration:

* Add a new version of the column that supports null
* Copy all the data into it
* Delete the old version
* Rename the new version to the old version

[2016-05-07 08:52] alexanderdean commented on #162
Duplicate of #147

[2016-05-07 08:52] #162 closed

[2016-05-08 22:23] alexanderdean opened #163 "Fix DDL regression where COMMENT ON TABLE is missing schema"
So eg:

[code]

The CREATE TABLE correctly contains the schema (atomic).

[2016-05-14 18:44] #152 closed

[2016-05-14 18:44] #157 closed

[2016-05-14 19:16] #163 closed

[2016-05-20 04:25] chuwy opened #166 "Output warnings to STDERR"
In some use cases users may need to process Schemas straight from the output. In this cases warnings like one about duplicate keys make their output invalid.

[2016-06-21 08:05] chuwy opened #167 "Factor out DDL-related functionality"

[2016-06-21 08:07] alexanderdean commented on #167
Remember to add a section in the README explaining where that functionality has been moved to.

This release should go out shortly after Iglu R5.

[2016-06-21 08:08] chuwy commented on #167
Sure!

[2016-06-24 08:07] chuwy opened #168 "SparkJob: make tasks.py compatible with invoke 0.13.0"
See: https://github.com/snowplow/aws-lambda-scala-example-project/issues/11

[2016-06-28 13:27] chuwy commented on #156
Added new message `File [/some/path] was overridden successfully (despite they weren't changed)!`.
Implemented in https://github.com/snowplow/iglu/issues/143

[2016-06-28 13:27] #156 closed

[2016-06-28 13:45] alexanderdean commented on #156
Moved to https://github.com/snowplow/iglu/issues/166

[2016-07-01 12:37] chuwy commented on #123
See: https://github.com/snowplow/iglu/issues/88

[2016-07-22 11:49] yalisassoon opened #169 "Maybe update Redshift encoding for boolean fields to runlength?"
Have seen `analyze compression` suggest that `runlength` is better in a number of occasions. It might be worth investigating more systematically and updating schema-guru accordingly

[2016-07-22 11:50] bogaert commented on #169
Agreed. It's the suggested choice in most cases I have seen.

[2016-07-22 11:51] alexanderdean commented on #169
Migrate ticket to igluctl in time for R5 @chuwy ?

[2016-07-22 12:00] chuwy commented on #169
Why not. Created ticket here: https://github.com/snowplow/iglu/issues/173

[2016-07-22 12:00] #169 closed, assigned to nobody

[2016-07-29 20:40] ihortom opened #170 "Document Windows support"
Some users are trying to run schema guru on Windows. Could we explore possibilities here?

[2016-07-29 20:41] alexanderdean commented on #170
To be clear - it should work already on Windows; at a minimum we should improve the documentation for Windows users, potentially we could make the file executable on Windows too?

[2016-07-29 20:41] chuwy commented on #170
Hey @ihortom! What exactly users want from Schema Guru? May be they need igluctl?

[2016-07-29 20:42] chuwy commented on #170
Because almost everything from Schema Guru can be used in Web UI, except `ddl` command, which now is in igluctl.

[2016-08-03 14:30] chuwy commented on #170
Yeah, that is absolutely possible with just `java -jar schema-guru-0.6.2`. I'll document it on Schema Guru and Igluctl.

[2016-09-06 02:10] shermozle commented on #151
Here's an example where elasticsearch gets it wrong:
`"se_value": {
                  "type": "string"
               }`

This means you can't due numeric aggregations on the structured event value.

[2016-09-29 10:12] chuwy commented on #50
At last it is listed on website: http://json-schema.org/implementations.html

[2016-09-29 10:12] #50 closed

[2016-09-29 11:09] alexanderdean commented on #50
Result! Nice work @chuwy

[2017-03-14 21:26] alexanderdean commented on #147
@chuwy - this is in the wrong repo now - can you migrate over to https://github.com/snowplow/iglu please?

Could you also spend 30 mins and move over anything else which is no longer relevant?

[2017-03-15 03:20] chuwy commented on #147
Migrated to https://github.com/snowplow/iglu/issues/238

[2017-03-15 03:20] #147 closed

[2017-03-15 03:21] chuwy commented on #151
Migrated to https://github.com/snowplow/iglu/issues/239

[2017-03-15 03:21] #151 closed

[2017-03-15 03:22] chuwy commented on #161
Migrated to https://github.com/snowplow/iglu/issues/240

[2017-03-15 03:22] #161 closed

[2017-03-15 03:45] chuwy commented on #140
Migrated to https://github.com/snowplow/iglu/issues/241

[2017-03-15 03:45] #140 closed

[2017-03-15 03:47] chuwy commented on #136
Migrated to https://github.com/snowplow/iglu/issues/242

[2017-03-15 03:47] #136 closed

[2017-03-15 03:49] chuwy commented on #137
Migrated to https://github.com/snowplow/iglu/issues/243

[2017-03-15 03:49] #137 closed

[2017-03-15 03:51] chuwy opened #171 "Schema DDL: flatten JSON schema without object and properties"
Migrated from https://github.com/snowplow/schema-guru/issues/133

[2017-03-15 03:51] #171 closed, assigned to nobody

[2017-03-15 03:54] chuwy commented on #133
Migrated to https://github.com/snowplow/iglu/issues/244

[2017-03-15 03:54] #133 closed

[2017-03-15 03:56] #127 closed

[2017-03-15 03:57] chuwy commented on #112
This was fixed by https://github.com/snowplow/schema-guru/issues/130

[2017-03-15 03:57] #112 closed

[2017-03-15 03:59] chuwy commented on #121
Migrated to https://github.com/snowplow/iglu/issues/245

[2017-03-15 03:59] #121 closed

[2017-03-15 04:03] chuwy commented on #160
Migrated to https://github.com/snowplow/iglu/issues/246

[2017-03-15 04:03] #160 closed

[2017-03-15 04:04] chuwy commented on #16
Migrated to https://github.com/snowplow/iglu/issues/247

[2017-03-15 04:04] #16 closed

[2017-03-15 04:09] chuwy commented on #95
Closing this as not relevant anymore.

[2017-03-15 04:09] #95 closed

[2017-03-15 04:10] chuwy commented on #106
Migrated to https://github.com/snowplow/iglu/issues/248

[2017-03-15 04:10] #106 closed

[2017-03-15 04:11] #87 closed

[2017-03-15 04:14] chuwy commented on #123
Closing as not-relevant for Schema Guru.

[2017-03-15 04:14] #123 closed

[2017-03-29 07:58] chuwy commented on #102
Underlying problem is that we always load all JSONs straight into memory as `List[String]`. This can be avoided by using stream processing engines such as [fs2](https://github.com/functional-streams-for-scala/fs2). Same for NDJSON, we can split it into multiple chunks.

[2017-03-29 09:35] alexanderdean commented on #102
Or should we be considering moving the local-mode inference to just use Spark local-mode - so reduce the code surface area of Schema Guru?

[2017-03-29 09:47] chuwy commented on #102
No, I think it's better to leave spark job for clusters so far. Because we can benefit from `Stream[Json]` in Web UI as well.

[2017-03-29 11:04] alexanderdean commented on #102
Okay, fair play!

[2017-06-23 16:30] chuwy opened #172 "Bump Schema DDL to 0.5.0"
Although we're removing DDL generation from Schema Guru - it'll still require JSON Schema AST from Schema DDL (https://github.com/snowplow/iglu/issues/172).

[2017-06-23 16:33] chuwy opened #173 "Publish as a library"
Inference mechanism will be required in Scala Iglu Registry to provide on-fly schema inference.

[2017-10-24 01:58] ssabnis opened #174 "JSON To Redshift schema"
Can I use schema guru to convert JSON schema to Redshift. Is that supported?

[2017-10-24 06:30] alexanderdean commented on #174
Technically yes, but that functionality has really migrated to the Iglu project, specifically:

https://github.com/snowplow/iglu/tree/master/0-common/igluctl

[2017-10-24 06:30] #174 closed, assigned to nobody

[2017-12-13 17:07] chuwy opened #175 "Add human-edited starting schema"
With this concept user can add a temporary JSON Schema with "edited" properties, which will prevent Schema Guru from deriving types/formats for this property. For example, if we have following starting JSON Schema

[code]

Then no matter how many `{"price": "10"}` we'll meet - result JSON Schema will always remain `number`.

Should be particularly useful for iterative Schema derivation, where user

[2017-12-13 17:09] alexanderdean commented on #175
I like this idea

[2017-12-25 10:32] chuwy opened #177 "Add support for 'date' format"
For Iglu R7 https://github.com/snowplow/iglu/pull/256

Format: `YYYY-MM-DD`. Since 0001, without BC.

[2018-02-19 00:04] handrews opened #178 "Support for newer drafts?"
Hello- I'm dropping by from the JSON Schema spec team to notify this project that the current draft is draft-07, which is a minor update of the more significant draft-06.

[Guide for core and validation](http://json-schema.org/draft-07/json-schema-release-notes.html)
[Guide for hyper-schema](http://json-schema.org/draft-07/json-hyper-schema-release-notes.html)

Note that implementations that do no

[2018-02-19 00:06] alexanderdean commented on #178
Thanks for the heads-up @handrews !

[2018-02-19 05:52] chuwy commented on #178
Yep, thanks for heads-up. This is pending for similar issue from Iglu (schema-guru's main consumer) https://github.com/snowplow/iglu/issues/303, but definitely on our radar

[2018-02-19 06:14] handrews opened #179 "Hosted web UI down?"
While auditing the links on the JSON Schema implementation page for updated draft support, I noticed that http://schemaguru.snowplowanalytics.com/ (which is also linked in the readme for this repository) seems to be down.  Is the hosted web UI still a thing?

[2018-02-19 06:19] chuwy commented on #179
Thanks for flagging @handrews. You're right it is not available right now, but we *probably* will bring it back. I think we can delete link right now and whenever it is available again I can make a new PR with updated link.

https://github.com/snowplow/snowplowanalytics.com/issues/406

[2018-02-19 06:34] handrews commented on #179
@chuwy thanks, sounds good- I'll take it out of the list for now.  Closing this since you have it tracked elsewhere.

[2018-02-19 06:34] #179 closed, assigned to nobody

[2018-08-10 10:45] chuwy opened #180 "Bump Web UI dependencies"
GH kindly warned us about vulnerabilities in `superagent` and `loadash`, but we're not affected by them. Still would be nice to update deps in next version.

[2018-12-03 15:29] shtutzim opened #181 "Add --no-ranges"
Hey, i think that this can very help for a lot of people,
if we can add the option **--no-ranges**
for using when we are not want add minimum and maximum of integer,
because sometimes doesn't have big sets of data.

(Like the flag **--no-length** that do this for strings length)

Thanks :-)

[2020-03-06 23:40] nicholsmarkd opened #182 "Right Double Quote Crashing schema-guru"
I encountered an issue today when attempting to generate a json schema fro a json file. When I run schema-guru schema against a file that contains right double quote (0xE2,0x80,0x9D). It runs fine until it encounters this character at whicih time the program fails with the dump shown below. Is this a known issue and are there any workarounds for this that would allow schema-guru to handle these ch

[2020-03-16 12:01] chuwy commented on #182
Thanks for the report @nicholsmarkd. I don't think there are workarounds, but you can try it in on different platform (Linux) or newer JRE (though I need to say - chance of success is very low). Problem is likely in some underlying JSON library such as json4s or jackson that for some reasons struggle to handle this char. Schema Guru is in long stagnation these days, but we still do have plans to r

[2021-10-22 05:32] coderextreme commented on #118
I'm pretty sure it could be implemented with a map or dynamic object.